footer {
  margin-top: -1px;
  border-top: 1px solid $border-color;
  .container {
    padding: 1.5rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        position: relative;
        padding: 0 10px;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 1px;
          height: 12px;
          margin: auto 0;
          background-color: $border-color;
        }
        &:last-child::after {
          width: 0;
        }
        a {
          strong {
            font-weight: 700;
          }
        }
      }
    }
    .copy {
      margin-top: 1rem;
      text-align: center;
      a {
        font-weight: 700;
      }
    }
  }
}
